<template>
<div class="tags d-flex flex-wrap overflow-hidden" :class="`justify-${alignment}`">
  <div
    v-for="(tag, index) in tags" :key="index"
    class="tag d-flex flex-nowrap"
    :class="{ 'flex-grow-1': alignment === 'space-between' && index !== 0}"
  >
    <v-icon
     v-if="index !== 0"
     :class="{ 'flex-grow-1': alignment === 'space-between'}"
    >
      mdi-circle-small
    </v-icon>
    <div class="d-flex flex-nowrap py-1">
      <v-icon
        v-if="tag.icon"
        class="px-0"
        :class="{'mr-1': tag.text}"
      >
        {{ tag.icon }}
      </v-icon>
      <div v-if="tag.text" class="tag__text">{{ tag.text }}</div>
    </div>

  </div>
</div>
</template>
<script>
export default {
  props: {
    tags: {
      type: Array,
      default: []
    },
    alignment: {
      type: String,
      default: 'start'
    }
  }
}
</script>
<style lang="scss" scoped>
.tags {
  height: 32px;
}
</style>
