<template>
<v-app>
  <div class="d-flex flex-wrap pa-4 cols-12">
    <div class="block col-12 rounded-xl mb-4 pa-4">
      <div class="d-flex pb-2 h6 font-weight-bold">
        Фридландские ворота
      </div>
      <TextTags :tags="tags" :alignment="alignment1" />
    </div>    
    <div class="block col-12 rounded-xl mb-4 pa-4">
      <div class="d-flex pb-2 h6 font-weight-bold">
        Фридландские ворота
      </div>
      <TextTags :tags="tags" :alignment="alignment2" />
    </div>    
    <div class="block col-6 rounded-xl mb-4 pa-4">
      <div class="d-flex pb-2 h6 font-weight-bold">
        Фридландские ворота
      </div>
      <TextTags :tags="tags" :alignment="alignment1" />
    </div>    
    <div class="block col-6 rounded-xl mb-4 pa-4">
      <div class="d-flex pb-2 h6 font-weight-bold">
        Фридландские ворота
      </div>
      <TextTags :tags="tags" :alignment="alignment2" />
    </div>    
  </div>
</v-app>
</template>

<script>
import TextTags from './components/TextTags.vue'
export default {
  components: {
    TextTags
  },
  data() {
    return {
      tags: [
        { text: '5', icon: 'mdi-star-outline' },
        { text: 'Обзорная' },
        { text: 'На автобусе', icon: 'mdi-bus' },
        { text: '25 марта' },
        { text: '6 часов', icon: 'mdi-clock-time-three-outline' },
        { text: 'до 49', icon: 'mdi-account' }
      ],
      alignment1: 'start',
      alignment2: 'space-between'
    }
  }
}
</script>
<style lang="scss" scoped>
.block {
  border: 1px solid #ddd;
}
</style>
